<form [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="mt-0 create-new-form">

  <div class="mt-4">
    <p-floatLabel >
      <input pInputText formControlName="name" />
      <label for="name">Job Name</label>
    </p-floatLabel>
</div>

<div class="mt-2">
  <p-multiSelect 
        [options]="divisions" 
        formControlName="divisions" 
        optionLabel="name" 
        placeholder="Select Divisions">
  </p-multiSelect>
</div>
  
   <div class="mt-4">
    <p-floatLabel>
      <textarea 
        rows="7" 
        cols="30" 
        formControlName="description" 
        pInputTextarea>
      </textarea>
      <label  for="description">Job Description</label>
    </p-floatLabel>
</div>
   

    <div class="card flex flex-wrap gap-3 justify-content-between mt-4">
      <p-button label="Cancel" severity="secondary" (onClick)="showModal()"/>
      <p-button label="Submit" type="Submit"/>
  </div>
  </form>
  