<p-table 
    #jobsdt
    [value]="jobs" 
    styleClass="p-datatable-striped p-4 p-datatable-sm" 
    [tableStyle]="{'min-width': '50rem'}"
    sortMode="multiple"
    [rows]="15"
    dataKey="id"
    [globalFilterFields]="['name', 'agent', 'divisions', 'status', 'activity']"
    [rowsPerPageOptions]="[10, 15, 20, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [paginatorStyleClass]="'justify-content-end'">

    <ng-template pTemplate="caption">
        <div class="flex">
            <p-button label="refresh" [outlined]="true" icon="pi pi-filter-slash" (click)="clear(jobsdt)" />
            <p-button 
            pRipple 
            severity="success" 
            label="New" 
            icon="pi pi-plus" 
            class="ml-2" 
            (click)="openNew()" />
            <p-iconField iconPosition="left" class="ml-auto">
                <p-inputIcon>
                    <i class="pi pi-search"></i>
                </p-inputIcon>
                <input pInputText type="text" (input)="jobsdt.filterGlobal($any($event.target).value, 'contains')"
                    placeholder="Search keyword" />
            </p-iconField>
        </div>
    </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">
                    Name
                    <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="agent">
                    Agent
                    <p-sortIcon field="agent" />
                </th>
                <th pSortableColumn="divisions">
                    Divisions
                    <p-sortIcon field="divisions" />
                </th>
                <th pSortableColumn="date">
                    Date
                    <p-sortIcon field="date" />
                </th>
                <th pSortableColumn="status">
                    Status
                    <p-sortIcon field="status" />
                </th>
                <th pSortableColumn="activity">
                    Activity
                    <p-sortIcon field="activity" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-job>
            <tr>
                <td>{{job.name}}</td>
                <td>{{job.agent}}</td>
                <td>{{job.divisions}}</td>
                <td>{{job.date}}</td>
                <td>{{job.status}}</td>
                <td>{{job.activity}}</td>
            </tr>
        </ng-template>
</p-table>


<p-dialog 
        [(visible)]="jobDialog" 
        [style]="{ width: '450px' }" 
        header="Product Details" 
        [modal]="true" 
        styleClass="p-fluid">
</p-dialog>
