<!-- <div class="layout-wrapper">
    <app-navbar></app-navbar>
    <div class="layout-content">
      <div class="content-container">
        <router-outlet></router-outlet>
      </div>
      <app-sidebar></app-sidebar>
    </div>
  </div> -->
  

  <div class="layout-wrapper">
    <app-navbar></app-navbar>
    <div class="layout-content">
      <app-sidebar></app-sidebar>
      <div class="content-container">
        Testing here
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- <app-footer></app-footer> -->
  </div>