/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

/* Order */
@layer reset, primeng;

/* Reset CSS */
@layer reset {

    body{
        margin: 0;
        padding: 0;
    }
    
    button,
    input {
       box-shadow: none;
    }

    /* Add this to your CSS */
    .p-component-overlay.p-sidebar-mask {
        background-color: transparent !important;
      }
     

      .p-sidebar-left {
        position: relative; 
        width: 250px; 
        height: 100%; 
        display: flex;
        flex-direction: column;
        background: #ffffff;
        color: #4b5563;
        border: 0 none;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
        transition: margin-left 2s;
      }
  
}
